""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set commentary
set highlightedyank
set surround
set NERDTree

""" Plugins mappings/configs  --------------------------------
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
nmap <leader>e :NERDTree<cr>

""" Common settings -------------------------
set nohlsearch
set number
set relativenumber
set scrolloff=5
set incsearch
set ignorecase
set smartcase

""" Idea specific settings ------------------
set ideajoin

""" Mappings --------------------------------
" don't use Ex mode, use Q for formatting.
map Q gq

nmap ,sv <Action>(SplitVertically)
nmap ,sh <Action>(SplitHorizontally)
nmap ,sm <Action>(MoveEditorToOppositeTabGroup)
nmap :q <Action>(CloseAllEditors)

nmap <leader>gs <Action>(Vcs.Show.Local.Changes)
nmap <leader>gm <Action>(Git.Menu)

nmap <leader>gn <Action>(Generate)
nmap <leader>oi <Action>(OptimizeImports)

nmap <leader>rn <Action>(RenameElement)
nmap <leader>lf <Action>(ReformatCode)
nmap <leader>ca <Action>(QuickActionPopup)
nmap <leader>vd <Action>(ShowErrorDescription)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)

nmap <leader>ff <Action>(GotoFile)
nmap <leader>fb <Action>(RecentFiles)
nmap <leader>rr <Action>(FindUsages)

nmap \R <Action>(Run)
nmap \r <Action>(RunClass)
nmap \s <Action>(Stop)

nmap \b <Action>(ToggleLineBreakpoint)
nmap \d <Action>(Debug)

nmap <leader>t <Action>(ActivateTerminalToolWindow)
nmap <leader>pt <Action>(Terminal.OpenInTerminal)

nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

nmap / <Action>(Find)

nmap ,, <Action>(QuickJavaDoc)
nmap <C-=> <Action>(EditorIncreaseFontSize)
nmap <C--> <Action>(EditorDecreaseFontSize)

vmap <leader>y "+y
nmap <leader>y "+y
nmap <leader>p "+p

nmap ,zz <Action>(ToggleDistractionFreeMode)
